{{#authLayout}}
<div class="entityManager-content">
    <div class="card card-block form-layout">
        <form role="form" action="{{contextPath}}/auth/change-password" method="post" id="validate">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="hidden" name="confirmationKey" value="{{confirmationKey}}">
            <div class="text-xs-center m-b-3">
                <img src="/images/logo-2.jpg" height="80" alt="" class="m-b-1"/>
                <h3>
                    Forgot Password Confirmation
                </h3>
                </p>
            </div>

            <fieldset class="form-group">
                <label for="password">
                   New Password
                </label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Insert new password" required minlength="6"/>
            </fieldset>
            <fieldset class="form-group">
                <label for="cpassword">
                    Confirm New password
                </label>
                <input type="password" class="form-control form-control-lg" id="cpassword" name="passwordConfirmation" placeholder="confirm password" required minlength="6"/>
            </fieldset>
            <button class="btn btn-success btn-block btn-lg" type="submit">
                Process
            </button>
        </form>
    </div>
</div>
{{/authLayout}}