{{#layout}}

{{#styles}}
<link rel="stylesheet" href="{{contextPath}}/assets/vendor/googleapis/css/component.css">
<link rel="stylesheet" href="{{contextPath}}/assets/vendor/googleapis/css/googleapis.css">
{{/styles}}

{{#title}}
Master Usia Bayar - DKPP
{{/title}}


<div class="card">
    <div class="card-header">
        <div class="col-md-12">
            <div class="row pull-right">
                <a class="btn btn-success btn-icon" id="btn-add"><i class="material-icons">add</i> Add</a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-bordered datatable dataTable no-footer" id="user_table"
                   role="grid">
                <thead>
                <tr role="row">
                    <th>
                        Nama Usia Bayar
                    </th>
                    <th>
                        Is Active
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

{{#modal}}
<div class="modal fade provinsi-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title small bold" id="myModalLabel">Form Usia Bayar</h4>
            </div>
            <div class="modal-body">
                <form id="provinsiForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="usia-name" class="col-sm-3 bold">Nama Usia Bayar</label>
                                <div class="col-xs-9">
                                    <input type="hidden" name="id" id="usia-id">
                                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                                    <input class="form-control form-control-sm" type="text" name="namaUsiaBayar" id="usia-name">
                                </div>
                            </div>

                            <div class="form-group row checkbox-show-hide">
                                <label for="usia-active" class="col-sm-3 bold">Active</label>
                                <div class="col-xs-9">
                                    <label class="custom-control custom-checkbox m-b-1">
                                        <input type="checkbox" class="custom-control-input" name="active" id="usia-active">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="saveForm()">Save</button>
            </div>
        </div>
    </div>
</div>
{{/modal}}

{{#scripts}}
<script src="{{contextPath}}/assets/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script src="{{contextPath}}/assets/vendor/datatables/media/js/dataTables.bootstrap4.js"></script>
<script src="{{contextPath}}/assets/vendor/sweetalert/sweetalert.min.js"></script>

<script type="text/javascript">
    window.RESTFulMode = "";
    function showPrintOptions(){
        $('#printOptionsModal').modal('show');
    }

    $('#btn_ok_print').unbind().on('click', function(){
        $('#printOptionsModal').modal('hide');
        $('#pdfReportModal').modal('show');
    });

    $('#filter_form').hide();

    var provinsiTable = dkppDataTable($('.datatable'), '{{contextPath}}/api/usiabayar', {
        'columns': [
            { "data": "namaUsiaBayar" },
            { "data": "active", "ordering": false }
        ],
        'columnDefs': [
            {
                "targets": 1,
                "data": "active",
                "render": function(data, type, row, meta){
                    console.log(data);
                    if(data == true)
                        return '<span class="tag tag-pill tag-success">active</span>';
                    else
                        return '<span class="tag tag-pill tag-danger">not active</span>';
                }
            },
            {
                "render": function(data, type, row, meta){
                    return "<a class='btn btn-info btn-sm btn-icon btn-edit' onclick='displayEditModal(" + row.id + ")'><i class='material-icons'>edit</i> Edit</a>";
                },

                "targets": 2
            }
        ]
    });

    function displayEditModal(id) {
        $('.checkbox-show-hide').show();
        const provinsiTbl = provinsiTable.rows().data().filter((data) => {return data.id === id})[0];
        const provinsiForm = $("form#provinsiForm");
        $("#usia-id", provinsiForm).val(provinsiTbl.id);
        $("#usia-name", provinsiForm).val(provinsiTbl.namaUsiaBayar);
        $("#usia-active", provinsiForm)[0].checked = provinsiTbl.active;
        console.log(provinsiTbl);
        $('.provinsi-modal').modal('show');
        RESTFulMode = "PUT";
    }

    function saveForm() {
        $.ajax({
            url: "{{contextPath}}/api/usiabayar",
            method: window.RESTFulMode,
            data: formToJSON($("form#provinsiForm")[0].elements)
        }).success(function(data) {
            $('.provinsi-modal').modal('hide');
            if (data.status = "success"){
                swal({title:"Berhasil",text:data.message, icon:"success", button:"OK"});
            }
            provinsiTable.ajax.reload();
        }).error(function (data) {
            if (data.message = undefined)
                swal({title: "Gagal", text: data.message, icon: "error", button: "OK"});
            else
                swal({title: "Gagal", text: "Terjadi kegagalan.", icon: "error", button: "OK"});

        });
    }

    $(document).ready(function(){
        $('#btn-add').unbind().on('click', function(){
            $('#usia-name').val("");
            $('.checkbox-show-hide').hide();
            var modal = $('.provinsi-modal');
            modal.modal('show');
            RESTFulMode = 'POST';
        });

    });
</script>
{{/scripts}}

{{/layout}}