<div class="tab-pane active" id="one" role="tabpanel">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <label for="periodeMutasiTab1" class="col-xs-1">Periode Mutasi</label>
                <div class="col-xs-1">
                    <input class="form-control form-control-sm" type="text" value="{{periode}}" id="periodeMutasiTab1">
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary btn-sm" id="tab1BtnProses" ><i class="fa fa-edit"></i> <span>Proses</span></button>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered datatable2 " id="mutasiOtomTable">
                            <thead>
                            <tr>
                                <th>
                                    Tanggal Mutasi
                                </th>
                                <th>
                                    Periode Mutasi
                                </th>
                                <th>
                                    Jenis Mutasi
                                </th>
                                <th>
                                    Total Data
                                </th>
                                <th>
                                    Belum Validasi
                                </th>
                                <th>
                                    Sudah Validasi
                                </th>
                                <th>
                                    Batal Validasi
                                </th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>