<div class="tab-pane" id="two" role="tabpanel">
    <div class="card">
        <div class="card-block">
            <div class="col-lg-12">
                <div class="row">
                    <label for="periodeMutasiTab2" class="col-sm-1">Periode Mutasi</label>
                    <div class="col-xs-2">
                        <input class="form-control form-control-sm" disabled type="text" value="{{periode}}" id="periodeMutasiTab2">
                    </div></div>
            </div>
            <div class="col-lg-12"><hr/></div>
            <div class="table-responsive" style="overflow-x:auto">
                <table class="table table-bordered" id="dataTableTab2">
                    <thead>
                    <tr>
                        <th>
                            Tanggal Mutasi
                        </th>
                        <th>
                            Periode Mutasi
                        </th>
                        <th>
                            NIP Peserta
                        </th>
                        `  <th>
                        Nama Peserta
                    </th>
                        <th>
                            Nama Penerima MP
                        </th>

                        <th>
                            Nama Penerima MP Baru (*Bila Ada)
                        </th>
                        <th>
                            Tanggal Lahir Penerima MP Baru (*Bila Ada*)
                        </th>
                        <th>
                            Tanggal 25 Tahun Penerima MP Baru(*Bila Ada)
                        </th>
                        <th>
                            SusKel Lama
                        </th>
                        <th>
                            SusKel Baru
                        </th>
                        <th>
                            Status Dibayar
                        </th>
                        <th>
                            No. HER Registrasi
                        </th>
                        <th>
                            Tipe Mutasi
                        </th>
                        <th>
                            Status Validasi
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                    </thead>
                </table>
            </DIV>
        </div>
    </div>
    <iframe style="display: none" id="report" name="report" src=""></iframe>
</div>