<div class="tab-pane" id="three" role="tabpanel">
    <div class="card">
        <div class="card-block">
            <div class="col-lg-12">
                <div class="row">
                    <label for="periodeMutasiTab3" class="col-sm-1">Periode Mutasi</label>
                    <div class="col-xs-2">
                        <input class="form-control form-control-sm" disabled type="text" value="{{periode}}" id="periodeMutasiTab3">
                    </div></div>
            </div>
            <div class="col-lg-12"><hr/></div>
            <div class="table-responsive" style="overflow-x:auto">
                <table class="table table-bordered" id="tabel-mutasi-anak-tab3">
                    <thead>
                    <tr>
                        <th>
                            Tanggal Mutasi
                        </th>
                        <th>
                            Periode Mutasi
                        </th>
                        <th>
                            NIP Peserta
                        </th>
                        `  <th>
                        Nama Peserta
                    </th>
                        <th>
                            Nama Penerima MP
                        </th>
                        <th>
                            Jenis Penerima MP
                        </th>
                        <th>
                            Nama Penerima MP Baru (*Bila Ada)
                        </th>
                        <th>
                            Jenis Penerima MP Baru (*Bila Ada)
                        </th>
                        <th>
                            MP 100%
                        </th>
                        <th>
                            MP 80%
                        </th>
                        <th>
                            Tanggal MP 80%
                        </th>
                        <th>
                            Status Dibayar
                        </th>
                        <th>
                            No. HER Registrasi
                        </th>
                        <th>
                            Status Validasi
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                </table>
            </DIV>
        </div>
    </div>
</div>