<div class="col-sm-{{smSize}} col-md-{{mdSize}} col-lg-{{lgSize}}">
    <div class="card card-block {{cardStyle}}">
        <h5 class="m-b-0 v-align-middle text-overflow">
            <i class="material-icons {{textTitleStyle}}">{{iconTitle}}</i><span>{{title}}</span>
        </h5>
        <div class="small text-overflow {{textDescStyle}}">
            {{{description}}}
        </div>
        <div class="small text-overflow {{textSubStyle}}">
            {{{subtitle}}}
        </div>
    </div>
</div>