{{#layout}}

{{#styles}}
{{/styles}}

{{#title}}
Profile User
{{/title}}

<div class="flexbox-xs layout-column-xs contact-view">
    <div class="contact-header hidden-lg-up">
        <div class="contact-toolbar">
            <a href="javascript:;" data-toggle="contact"><i class="material-icons visible-xs m-r-1">arrow_back</i></a>
        </div>
    </div>
    <div class="flex-xs scroll-y p-a-3">
        <div class="column-equal m-b-2">
            <div class="col" style="width:128px">
                <img src="images/face1.jpg" class="avatar avatar-lg img-circle" alt="">
            </div>
            <div class="col v-align-middle p-l-2">
                <h1><b>Aigner</b> Manuela</h1>
                <h3>Personnel</h3>
            </div>
        </div>
        <div class="column-equal m-b-2">
            <div class="col p-l-2 text-xs-right" style="width:128px">
                <span class="text-muted">Email</span>
            </div>
            <div class="col p-l-2"><a ng-href="email@example.com" href="email@example.com">email@example.com</a>
            </div>
        </div>
        <div class="column-equal m-b-2">
            <div class="col p-l-2 text-xs-right" style="width:128px">
                <span class="text-muted">Mobile</span>
            </div>
            <div class="col p-l-2">
                <span>+1 123 456 789</span>
            </div>
        </div>
        <div class="column-equal m-b-2">
            <div class="col p-l-2 text-xs-right" style="width:128px">
                <span class="text-muted">Home</span>
            </div>
            <div class="col p-l-2"><a ng-href="">http://www.example.com</a>
            </div>
        </div>
        <div class="column-equal m-b-2">
            <div class="col p-l-2 text-xs-right" style="width:128px">
                <span class="text-muted">Country</span>
            </div>
            <div class="col p-l-2">
                <span>Austria</span>
            </div>
        </div>
        <div class="column-equal m-b-2">
            <div class="col p-l-2 text-xs-right" style="width:128px">
                <span class="text-muted">Note</span>
            </div>
            <div class="col p-l-2">
                <span>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</span>
            </div>
        </div>
    </div>
</div>

{{/layout}}